html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
    margin: 0;
    padding: 0;
    outline: 0;
    /*vertical-align: baseline;*/
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body,
button,
input,
select,
textarea {
    font-size: 14px;
}
*{
    font-family: "PingFang SC","微软雅黑",Microsoft YaHei,Hiragino Sans GB W6, "Hiragino Sans GB","Hiragino Sans GB W3" ,verdana, Tahoma, sans-serif;
}
html{
    overflow: hidden;
}
body{
    text-rendering: optimizelegibility;
    font-feature-settings: "liga", "kern";
    position: relative;
    background: none repeat scroll 0% 0% #ffffff;
    font-weight: normal;
    overflow: hidden;
    margin: 0px;
    font-size: 16px;
}
.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    z-index: 999999;
    text-align: center;
}
.loading .loader{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    top:50%;
    margin-top: -40px;
    text-align: center;
}
.loading img{
    width: 80px;
    height: 80px;
}
.loading p{
    font-size: 18px;
    font-weight: 900;
    color: #8A8A8A;
    margin-top: -58px;
}
.swiper-wrapper{
    transition-duration:1s;
    /* Firefox 4 */
    -moz-transition-duration:1s;
    /* Safari and Chrome */
    -webkit-transition-duration:1s;
    /* Opera */
    -o-transition-duration:1s;
}
.music{
    position: fixed;
    left: 10px;
    bottom:10px;
    z-index: 999999;
}
.ask-pagination{
    color: white;
    position: fixed;
    left: 50%;
    z-index: 99999;
    bottom: 15px;
    margin-left: -387px;
}
.ask-pagination > .swiper-pagination-bullet {
    margin: 0 3px;
    width: 78px;
    background: transparent;
    height: 25px;
    text-align: center;
    border-radius: 0;
}
.yihua-logo{
    background: url(../img/yihua.png) no-repeat;
    position: absolute;
    width: 200px;
    height: 50px;
    top: 5%;
    left: 2%;
}
.askidea-logo{
    background: url(../img/askidea-logo.png) no-repeat;
    position: absolute;
    width: 313px;
    height: 160px;
    top: 2%;
    left: 2%;
    opacity: 0;
    -webkit-animation:fadeOut 1s linear 0s alternate forwards;
    animation:fadeOut 1s linear 0s alternate forwards;
}
.active .askidea-logo{
    -webkit-animation:fadeIn 2s linear 1s alternate forwards;
    animation:fadeIn 2s linear 1s alternate forwards;
}
.car{
    position: fixed;
    width: 168px;
    height: 100px;
    left: 45%;
    bottom: 94px;
    z-index: 9999;
}
.car-r{
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
}
.car-active{
    -webkit-animation:carMove 0.1s linear 0s infinite alternate;
    animation:carMove 0.1s linear 0s infinite alternate;
}
@-webkit-keyframes carMove {
  from {
    -webkit-transform: translate3d(0px,-1px,0px);
    transform: translate3d(0px,-1px,0px);
  }

  to {
    -webkit-transform: translate3d(0px,1px,0px);
    transform: translate3d(0px,1px,0px);
  }
}

@keyframes carMove{
  from {
    -webkit-transform: translate3d(0px,-1px,0px);
    transform: translate3d(0px,-1px,0px);
  }

  to {
    -webkit-transform: translate3d(0px,1px,0px);
    transform: translate3d(0px,1px,0px);
  }
}
.car-r-active{
    -webkit-animation:carMoveRight 0.1s linear 0s infinite alternate forwards;
    animation:carMoveRight 0.1s linear 0s infinite alternate forwards;
}

@-webkit-keyframes carMoveRight {
  from {
    -webkit-transform: translate3d(0px,-1px,0px) rotateY(180deg);
    transform: translate3d(0px,-1px,0px) rotateY(180deg);
  }

  to {
    -webkit-transform: translate3d(0px,1px,0px) rotateY(180deg);
    transform: translate3d(0px,1px,0px) rotateY(180deg);
  }
}

@keyframes carMoveRight{
  from {
    -webkit-transform: translate3d(0px,-1px,0px) rotateY(180deg);
    transform: translate3d(0px,-1px,0px) rotateY(180deg);
  }

  to {
    -webkit-transform: translate3d(0px,1px,0px) rotateY(180deg);
    transform: translate3d(0px,1px,0px) rotateY(180deg);
  }
}
.ground{
    background-image: url(../img/ground.svg);
    /*position: fixed;*/
    bottom: 0px;
    width: 100%;
    height: 88px;
    z-index: 99;
}
.grass{
    background-image: url(../img/grass.svg);
    position: absolute;
    bottom: -2px;
    width: 66px;
    height: 39px;
    animation: glassRoll 3s linear 2s infinite alternate;
    -webkit-animation: glassRoll 3s linear 2s infinite alternate;
}
.cloud-1,.cloud-2,.cloud-3{
    position: fixed;
    z-index: 0;
}
.cloud-1{
    background-image: url(../img/cloud1.svg);
    width: 188px;
    height: 75px;
    top: 50%;
    left: 20%;
    animation: cloud1Move 3s linear 2s infinite alternate;
    -webkit-animation: cloud1Move 3s linear 2s infinite alternate;
}
.cloud-2{
    background-image: url(../img/cloud2.svg);
    width: 102px;
    height: 39px;
    top: 20%;
    right: 6%;
    animation: cloud2Move 5s linear 1s infinite alternate;
    -webkit-animation: cloud2Move 5s linear 1s infinite alternate;
}
.cloud-3{
    background-image: url(../img/cloud1.svg);
    width: 188px;
    height: 75px;
    top: 1%;
    right: 40%;
    animation: cloud3Move 6s ease 1s infinite alternate;
    -webkit-animation: cloud3Move 6s ease 1s infinite alternate;
}
.intro-modal{
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    z-index: 99999;
    background-color: rgba(0,0,0,0.8);
    overflow: auto;
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    backdrop-filter: blur(10px) saturate(180%);
}
.intro-block:after{
    clear: both;
}
.intro-block{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.intro-body{
    text-indent: 2em;
    color: white;
    font-weight: 100;
    padding: 42px;
    text-align: left;
}
.intro-logo{
    width: 100%;
    margin-top: 130px;
    text-align: center;
}
.close{
    right: -315px;
    display: none;
}
.open{
    display: block;
}
.close-btn{
    background: url(../img/close.svg) no-repeat;
    width: 36px;height: 36px;
    display: block;
    float: right;
    margin: 28px;
    cursor: pointer;
}
.open-intro{
    cursor: pointer;
}
.single-page{
    background-size: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.intro-main{
    text-align: center;
}
.intro-link{
    background: url(../img/home.svg) no-repeat;
    background-position: 15px 50%;
    background-color: #43AE35;
    height: 40px;
    text-align: left;
    border-radius: 3px;
    margin: 0 auto;
    line-height: 1;
    font-size: 16px;
    border: 0;
}
.intro-link > a{
    padding-left: 50px;
    color: white;
    outline: none;
    text-decoration: none;
    padding-right: 20px;
}
/********************************************************** page-1 ************************************************************/

    #page-1-title{
        max-width: 700px;
        width: 100%;
        position: absolute;
        left:50%;
        top: 40%;
        margin-top: -193px;
        margin-left:-350px;
        text-align: center;
    }
    .page-1-title-askidea{
        width: 366px;
        position: absolute;
        right: 60px;
        top: 120px;
    }
    .logo-active #askidea-1{
        -webkit-animation:logoJump 0.7s 0.1s ease;
        animation:logoJump 0.7s 0.1s ease;
    }
    .logo-active #askidea-2{
        -webkit-animation:logoJump 0.7s 0.2s ease;
        animation:logoJump 0.7s 0.2s ease;
    }
    .logo-active #askidea-3{
        -webkit-animation:logoJump 0.7s 0.3s ease;
        animation:logoJump 0.7s 0.3s ease;
    }
    .logo-active #askidea-4{
        -webkit-animation:logoJump 0.7s 0.4s ease;
        animation:logoJump 0.7s 0.4s ease;
    }
    .logo-active #askidea-5{
        -webkit-animation:logoJump 0.7s 0.5s ease;
        animation:logoJump 0.7s 0.5s ease;
    }
    .logo-active #askidea-6{
        -webkit-animation:logoJump 0.7s 0.6s ease;
        animation:logoJump 0.7s 0.6s ease;
    }
    .logo-active #askidea-7{
        -webkit-animation:logoJump 0.7s 0.7s ease;
        animation:logoJump 0.7s 0.7s ease;
    }
/********************************************************** page-2 ************************************************************/
    .page-2 img{
        position: absolute;
    }
    .page-2 > img{
        bottom: 0px;
    }
    .page-2-support{
        position: absolute;
        width: 261px;
        height: 321px;
        left: 32%;
        top: 2%;
        -webkit-animation:logoJump 6s linear 1s infinite alternate;
        animation:logoJump 6s linear 1s infinite alternate;
    }
    .page-2-support > img{
        z-index: 4
    }
    .page-2-build{
        position: absolute;
        width: 185px;
        height: 261px;
        right: -1%;
        top: 0%;
        -webkit-animation:logoJump 8s linear 1s infinite alternate;
        animation:logoJump 8s linear 1s infinite alternate;
    }
    .page-2-group{
        width: 1440px;
        height: 680px;
        left: 50%;
        margin-left: -720px;
        position: absolute;
        bottom: 0;
    }
    .page-2-group > div ,.page-2-group span{
        display: inline-block;
        position: absolute;
        bottom: 0px
    }
    .page-2-group .hand-1{
        background: url(../img/page-2/hand-1.svg) no-repeat;
        width: 125px;
        height: 469px;
    }
    .page-2-group .hand-2{
        background: url(../img/page-2/hand-2.svg) no-repeat;
        width: 111px;
        height: 591px;
    }
    .page-2-group .hand-3{
        background: url(../img/page-2/hand-3.svg) no-repeat;
        width: 111px;
        height: 400px;
    }
    .page-2-group .hand-4{
        background: url(../img/page-2/hand-4.svg) no-repeat;
        width: 111px;
        height: 400px;
    }
    .page-2-group .hand-5{
        background: url(../img/page-2/hand-5.svg) no-repeat;
        width: 147px;
        height: 473px;
    }
    .page-2-group .hand-6{
        background: url(../img/page-2/hand-6.svg) no-repeat;
        width: 98px;
        height: 445px;
    }
    .active .mh-1,.active-next .mh-1,.active-prev .mh-1{
        -webkit-animation:jump 5s linear 0.4s infinite alternate;
        animation:jump 5s linear 0.4s infinite alternate;
    }
    .active .mh-2,.active-next .mh-2,.active-prev .mh-2{
        -webkit-animation:jump 5s linear 0.8s infinite alternate;
        animation:jump 5s linear 0.8s infinite alternate;
    }
    .active .mh-3,.active-next .mh-3,.active-prev .mh-3{
        -webkit-animation:jump 5s linear 1.2s infinite alternate;
        animation:jump 5s linear 1.2s infinite alternate;
    }
    .active .mh-4,.active-next .mh-4,.active-prev .mh-4{
        -webkit-animation:jump 5s linear 1.6s infinite alternate;
        animation:jump 5s linear 1.6s infinite alternate;
    }
    .active .mh-6,.active-next .mh-6,.active-prev .mh-6{
        -webkit-animation:jump 5s linear 2s infinite alternate;
        animation:jump 5s linear 2s infinite alternate;
    }
    .active .mh-5,.active-next .mh-5,.active-prev .mh-5{
        -webkit-animation:jump 4s linear 2.4s infinite alternate;
        animation:jump 4s linear 2.4s infinite alternate;
    }
    .plan{
        opacity: 0;
        background: url(../img/page-2/plan.svg) no-repeat;
        width: 138px;
        height: 101px;
    }
    .plan-2{
        opacity: 0;
        background: url(../img/page-2/plan-2.svg) no-repeat;
        width: 93px;
        height: 73px;
    }
    .idea{
        opacity: 0;
        background: url(../img/page-2/idea.svg) no-repeat;
        width: 144px;
        height: 104px;
    }
    .idea-2{
        opacity: 0;
        background: url(../img/page-2/idea-2.svg) no-repeat;
        width: 144px;
        height: 118px;
    }
    .fragment-1,.fragment-2,.fragment-3{
        background: url(../img/page-2/fragment.svg) no-repeat;
        width: 113px;
        height: 81px;
        opacity: 0;
    }
    .leaf-1,.leaf-2,.leaf-3{
        background: url(../img/page-2/leaf-1.svg) no-repeat;
        width: 96px;
        height: 138px;
        visibility: hidden;
    }
    .active .cover{
        width: 50px;
        height: 88px;
        background: #ffffff;
        position: absolute;
        z-index: 3;
        left: 80px;
        top: 72px;
        -webkit-animation:cover 6s ease;
        animation:cover 6s ease;
    }
    /* cover */
    @keyframes cover{
        0% {
            left: 80px;
            opacity:1;
        }
        20% {
            left: 65px;
            opacity:1;
        }
        40% {
            left: 50px;
            opacity:1;
        }
        50% {
            left: 40px;
            opacity:1;
        }
        60% {
            left: 50px;
            opacity:1;
        }
        80% {
            left: 65px;
            opacity:1;
        }
        100% {
            left: 80px;
            opacity:0;
        }
    }
    @-webkit-keyframes cover{
        0% {
            left: 80px;
            opacity:1;
        }
        20% {
            left: 65px;
            opacity:1;
        }
        40% {
            left: 50px;
            opacity:1;
        }
        50% {
            left: 40px;
            opacity:1;
        }
        60% {
            left: 50px;
            opacity:1;
        }
        80% {
            left: 65px;
            opacity:1;
        }
        100% {
            left: 80px;
            opacity:0;
        }
    }

    .active .rotation-1{
        -webkit-animation:rotation 6s linear 1s;
        animation:rotation 6s linear 1s;
    }
    /* rotation */
    @-webkit-keyframes rotation {
        0% {
            -webkit-transform:rotate(45deg);
            transform:rotate(45deg)
        }
        20% {
            -webkit-transform:rotate(20deg);
            transform:rotate(20deg)
        }
        40% {
            -webkit-transform:rotate(0deg);
            transform:rotate(0deg)
        }
        50% {
            -webkit-transform:rotate(-10deg);
            transform:rotate(-10deg)
        }
        60% {
            -webkit-transform:rotate(0deg);
            transform:rotate(0deg)
        }
        80% {
            -webkit-transform:rotate(20deg);
            transform:rotate(20deg)
        }
        100% {
            -webkit-transform:rotate(45deg);
            transform:rotate(45deg)
        }
    }
    @keyframes rotation {
        0% {
            -webkit-transform:rotate(45deg);
            transform:rotate(45deg)
        }
        20% {
            -webkit-transform:rotate(20deg);
            transform:rotate(20deg)
        }
        40% {
            -webkit-transform:rotate(0deg);
            transform:rotate(0deg)
        }
        50% {
            -webkit-transform:rotate(-10deg);
            transform:rotate(-10deg)
        }
        60% {
            -webkit-transform:rotate(0deg);
            transform:rotate(0deg)
        }
        80% {
            -webkit-transform:rotate(20deg);
            transform:rotate(20deg)
        }
        100% {
            -webkit-transform:rotate(45deg);
            transform:rotate(45deg)
        }
    }

    .active .grow-up{
        -webkit-animation:growUp 6s linear 1s;
        animation:growUp 6s linear 1s;
        transform:translateY(-80px);
    }
    .active .idea, .active .plan-2{
        animation: fadeInDown 1s linear 1s alternate forwards;
        -webkit-animation: fadeInDown 1s linear 1s alternate forwards;
    }
    .active .plan, .active .idea-2{
        animation: fadeInUp 1s linear 1s alternate forwards;
        -webkit-animation: fadeInUp 1s linear 1s alternate forwards;
    }
    .active .fragment-1{
        animation: zoomInUp 3s linear 1s alternate forwards;
        -webkit-animation: zoomInUp 3s linear 1s alternate forwards;
    }
    .active .leaf-1{
        animation: leafIn 2s linear 3s alternate forwards;
        -webkit-animation: leafIn 2s linear 3s alternate forwards;
    }
    .active .fragment-2{
        animation: zoomInUp 3s linear 0.5s alternate forwards;
        -webkit-animation: zoomInUp 3s linear 0.5s alternate forwards;
    }
    .active .leaf-2{
        animation: leafIn 2s linear 2s alternate forwards;
        -webkit-animation: leafIn 2s linear 2s alternate forwards;
    }
    .active .fragment-3{
        animation: zoomInUp 3s linear 2s alternate forwards;
        -webkit-animation: zoomInUp 3s linear 2s alternate forwards;
    }
    .active .leaf-3{
        animation: leafIn 2s linear 4s alternate forwards;
        -webkit-animation: leafIn 2s linear 4s alternate forwards;
    }
    /* grow-up */
    @-webkit-keyframes growUp{
        0% {
            -webkit-transform:translateY(-20px);
            transform:translateY(-20px)
        }
        20% {
            -webkit-transform:translateY(0px);
            transform:translateY(0px)
        }
        40% {
            -webkit-transform:translateY(-20px);
            transform:translateY(-20px)
        }
        60% {
            -webkit-transform:translateY(-40px);
            transform:translateY(-40px)
        }
        80% {
            -webkit-transform:translateY(-60px);
            transform:translateY(-60px)
        }
        100% {
            -webkit-transform:translateY(-80px);
            transform:translateY(-80px)
        }
    }
    @keyframes growUp{
        0% {
            -webkit-transform:translateY(-20px);
            transform:translateY(-20px)
        }
        20% {
            -webkit-transform:translateY(0px);
            transform:translateY(0px)
        }
        40% {
            -webkit-transform:translateY(-20px);
            transform:translateY(-20px)
        }
        60% {
            -webkit-transform:translateY(-40px);
            transform:translateY(-40px)
        }
        80% {
            -webkit-transform:translateY(-60px);
            transform:translateY(-60px)
        }
        100% {
            -webkit-transform:translateY(-80px);
            transform:translateY(-80px)
        }
    }

    .active .shake-1{
        animation: leafShake 2s linear 2s infinite alternate;
        -webkit-animation: leafShake 2s linear 2s infinite alternate;
    }
/********************************************************** page-3 ************************************************************/
    .page-3 img{
        position: absolute;
    }
    .page-3 > img{
        bottom: 0px;
    }
    .page-3 > .big-tree{
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -413px;
    }
    .active #page-3-trees{
        animation: shake 30s ease 1s infinite alternate;
        -webkit-animation: shake 30s ease 1s infinite alternate;
    }
    .bubble-1{
        opacity: 0;
        left: 50%;margin-left: -494px;bottom: 221px !important;z-index: 9;
    }
    .active .bubble-1{
        animation: zoomIn 1s linear 3s forwards;
        -webkit-animation: zoomIn 1s linear 3s forwards;
    }
    .bubble {
        position: absolute;
        z-index: 10;
    }
    .bubble > img{
        position: relative;
    }
    .bubble:hover{
        animation: pulse 0.5s ease 0s infinite alternate;
        -webkit-animation: pulse 0.5s ease 0s infinite alternate;
    }
    /*.active #leaf-3{
        animation: shake 2s linear 0.1s infinite alternate;
        -webkit-animation: shake 2s linear 0.1s infinite alternate;
    }*/
    #trunk-1,#trunk-2,#trunk-3,#trunk-4,#trunk-5,#trunk-6,#trunk-7,#trunk-8,#trunk-9,#trunk-10,#leaf-0,#leaf-1,#leaf-2,#leaf-3,#leaf-4,#leaf-5,#leaf-6,#bb-1,#bb-2,#bb-3,#bb-4,#bb-5,#bb-6{
        animation: fadeOut 1s linear 1.1s forwards;
        opacity: 0;
        -webkit-animation: fadeOut 1s linear 1.1s forwards;
    }
    .active #trunk-1,.active #bb-1{
        animation: fadeIn 1s linear 1.1s forwards ;
        -webkit-animation: fadeIn 1s linear 1.1s forwards;
    }
    .active #trunk-2{
        animation: fadeIn 1s linear 1.3s forwards ;
        -webkit-animation: fadeIn 1s linear 1.3s forwards;
    }
    .active #trunk-3,.active #bb-2{
        animation: fadeIn 1s linear 1.5s forwards ;
        -webkit-animation: fadeIn 1s linear 1.5s forwards;
    }
    .active #trunk-4,.active #bb-3{
        animation: fadeIn 1s linear 1.7s forwards ;
        -webkit-animation: fadeIn 1s linear 1.7s forwards;
    }
    .active #trunk-5{
        animation: fadeIn 1s linear 1.9s forwards ;
        -webkit-animation: fadeIn 1s linear 1.9s forwards;
    }
    .active #trunk-6,.active #bb-4{
        animation: fadeIn 1s linear 2.1s forwards ;
        -webkit-animation: fadeIn 1s linear 2.1s forwards;
    }
    .active #trunk-7{
        animation: fadeIn 1s linear 2.3s forwards ;
        -webkit-animation: fadeIn 1s linear 2.3s forwards;
    }
    .active #trunk-8,.active #bb-5{
        animation: fadeIn 1s linear 2.5s forwards ;
        -webkit-animation: fadeIn 1s linear 2.5s forwards;
    }
    .active #trunk-9{
        animation: fadeIn 1s linear 2.7s forwards ;
        -webkit-animation: fadeIn 1s linear 2.7s forwards;
    }
    .active #trunk-10,.active #bb-6{
        animation: fadeIn 1s linear 2.9s forwards ;
        -webkit-animation: fadeIn 1s linear 2.9s forwards;
    }
    /** leafs **/
    .active #leaf-0{
        animation: fadeIn 1s linear 2s forwards ;
        -webkit-animation: fadeIn 1s linear 2s forwards;
    }
    .active #leaf-1{
        animation: fadeIn 1s linear 2.2s forwards ;
        -webkit-animation: fadeIn 1s linear 2.2s forwards;
    }
    .active #leaf-2{
        animation: fadeIn 1s linear 2.4s forwards ;
        -webkit-animation: fadeIn 1s linear 2.4s forwards;
    }
    .active #leaf-3{
        animation: fadeIn 1s linear 2.6s forwards ;
        -webkit-animation: fadeIn 1s linear 2.6s forwards;
    }
    .active #leaf-4{
        animation: fadeIn 1s linear 2.8s forwards ;
        -webkit-animation: fadeIn 1s linear 2.8s forwards;
    }
    .active #leaf-5{
        animation: fadeIn 1s linear 3s forwards ;
        -webkit-animation: fadeIn 1s linear 3s forwards;
    }
    .active #leaf-6{
        animation: fadeIn 1s linear 3.2s forwards ;
        -webkit-animation: fadeIn 1s linear 3.2s forwards;
    }
/********************************************************** page-4 ************************************************************/
    .page-4 > img{
        position: absolute;
        bottom: -3px
    }
    .page-4-main{
        position: absolute;
        bottom: 0px;
        width: 1440px;
        height: 100%;
    }
    .machine {
        width: 1337px;
        position: absolute;
        bottom: 0px;
        right: 5px;
    }
    .machine > *{
        position: absolute;
        bottom: -3px
    }
    .coconut-tree{
        position: absolute;
        right: 18px;
        bottom: -10px;
        z-index: 1;
    }
    .active .coconut{
        animation: glassRoll 3s linear 2s infinite alternate;
        -webkit-animation: glassRoll 3s linear 2s infinite alternate;
    }
    .toy{
        width: 192px;
        height: 207px;
        bottom: 360px;
        right: 34%;
        z-index: 4;
    }
    .toy-lens{
        position: absolute;
        top: 70px;
        left: 50px;
    }
    .toy-lens:hover{
        animation: lensM 2s linear 0s infinite alternate;
        -webkit-animation: lensM 2s linear 0s  infinite alternate;
     }
     /* lensM */
    @-webkit-keyframes lensM {
      from {
        -webkit-transform: scale(1);
        transform: scale(1);
      }

      to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
      }
    }

    @keyframes lensM {
      from {
        -webkit-transform: scale(1);
        transform: scale(1);
      }

      to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
      }
    }

    .ship{
        position: absolute;
        bottom: -5px;
        right: 5px;
        z-index: -1;
    }
    #rope{
        -webkit-transform: translate(42px, 0px);
        transform: translate(42px, 0px);
     }
    .active #rope{
        animation: ropeMove 5s linear 7.2s forwards;
        -webkit-animation: ropeMove 5s linear 7.2s forwards;
    }
    .ship-bear{
        position: absolute;top: 41px;left: 373px;
    }
    .active .ship-bear{
        animation: bearMove 5s linear 7.2s forwards;
        -webkit-animation: bearMove 5s linear 7.2s forwards;
    }
    /* bearMove */
    @-webkit-keyframes bearMove {
      from {
        -webkit-transform: translate(0px, 0);
        transform: translate(0px, 0);
      }

      to {
        -webkit-transform: translate(0px, -66px);
        transform: translate(0px, -66px);
      }
    }

    @keyframes bearMove {
      from {
        -webkit-transform: translate(0px, 0);
        transform: translate(0px, 0);
      }

      to {
        -webkit-transform: translate(0px, -66px);
        transform: translate(0px, -66px);
      }
    }
    /* ropeMove */
    @-webkit-keyframes ropeMove {
      from {
        -webkit-transform: translate(42px, 0);
        transform: translate(42px, 0);
      }

      to {
        -webkit-transform: translate(42px, -66px);
        transform: translate(42px, -66px);
      }
    }

    @keyframes ropeMove {
      from {
        -webkit-transform: translate(42px, 0);
        transform: translate(42px, 0);
      }

      to {
        -webkit-transform: translate(42px, -66px);
        transform: translate(42px, -66px);
      }
    }
    .active .ship{
        animation: shipMove 6s ease 1s forwards;
        -webkit-animation: shipMove 6s ease 1s forwards;
    }
    /* shipMove */
    @-webkit-keyframes shipMove {
      from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

      to {
        -webkit-transform: translate3d(-105%, 0, 0);
        transform: translate3d(-105%, 0, 0);
      }
    }

    @keyframes shipMove {
      from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

      to {
        -webkit-transform: translate3d(-105%, 0, 0);
        transform: translate3d(-105%, 0, 0);
      }
    }
    .airship{
        background: url(../img/page-4/airship.svg);
        width: 125px;
        height: 130px;
        position: absolute;
        right: 15%;
        top: 20%;
        z-index: -1;
    }
    .airship-r{
        -webkit-transform:rotateY(180deg);
        transform:translate(180deg);
    }
    .active .airship{
        animation: airshipMove 8s ease 1s infinite;
        -webkit-animation: airshipMove 8s ease 1s infinite;
    }
    /** airshipMove **/
    @-webkit-keyframes airshipMove {
        0%  {right:15%;}
        49% {background: url(../img/page-4/airship.svg);}
        50% {right:35%; background: url(../img/page-4/airship-r.svg)}
        99% {background: url(../img/page-4/airship-r.svg);}
        100%{right:15%;background: url(../img/page-4/airship.svg);}
    }
    @keyframes airshipMove {
        0%  {right:15%;}
        49% {background: url(../img/page-4/airship.svg);}
        50% {right:35%; background: url(../img/page-4/airship-r.svg)}
        99% {background: url(../img/page-4/airship-r.svg);}
        100%{right:15%;background: url(../img/page-4/airship.svg);}
    }

    .robot-block{    
        display: inline-block;
        position: absolute;
        bottom: 0px;
        right: 7%;
        z-index: 3;
        width: 319px;
        height: 363px;
    }
    .robot-block img{
        position: absolute;
        bottom: 0;
    }
    .ribbon{
        position: absolute;
        bottom: 0;
        opacity: 0;
    }
    .active .ribbon{
        animation: zoomInUp 3s linear 1s alternate forwards;
        -webkit-animation: zoomInUp 3s linear 1s alternate forwards;
    }
    .active #ribbon1{
        animation: fadeIn 0.5s linear 3s infinite alternate;
        -webkit-animation: fadeIn 0.5s linear 3s infinite alternate;
    }
    .active #ribbon2{
        animation: fadeIn 0.5s linear 3.5s infinite alternate;
        -webkit-animation: fadeIn 0.5s linear 3.5s infinite alternate;
    }
/********************************************************** page-5 ************************************************************/
    .page-5 > img{
        position: absolute;
        bottom: 0px;
    }
    .page-5-main{
        position: absolute;
        bottom: 0px;
        width: 1440px;
    }
    .page-5-main > img{
        position: absolute;
        bottom: 0px;
    }
    .sign > #sign-svg{
        position: absolute;
        z-index: 9;
        bottom: 0;
        left: 10%;
    }
    .page-5-main > .ipad-block{
        position: absolute;
        left: 50%;
        bottom: -5px;
        margin-left: -184px;
        width: 368px;
        height: 721px;
    }
    .ipad-block > img{ 
        position: absolute;
    }
    .page-5-main > .click-block{
        position: absolute;
        right: 10%;
        bottom: -5px;
    }
    .page-5-tree,.page-5-house{
        opacity: 0;
    }
    .active .page-5-tree{
        animation: fadeInUpBig 2s linear 0s forwards;
        -webkit-animation: fadeInUpBig 2s linear 0s forwards;
    }
    .active .page-5-house{
        animation: fadeInUpBig 2s linear 0.5s forwards;
        -webkit-animation: fadeInUpBig 2s linear 0.5s forwards;
    }
    .active .page-5-note{
        animation: tada .8s linear 0s infinite;
        -webkit-animation: tada .8s linear 0s infinite;
    }
    .active #page-5-banner{
        animation: bannerSwing 1s linear 1s infinite alternate;
        -webkit-animation: bannerSwing 1s linear 1s infinite alternate;
    }
    /* bannerSwing */
    @-webkit-keyframes bannerSwing {
      0% {
        -webkit-transform: rotate3d(0, 0, 1, -1deg);
        transform: rotate3d(0, 0, 1, -1deg);
      }
      50% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
      }
      100% {
        -webkit-transform: rotate3d(0, 0, 1, 1deg);
        transform: rotate3d(0, 0, 1, 1deg);
      }
    }

    @keyframes bannerSwing {
      0% {
        -webkit-transform: rotate3d(0, 0, 1, -1deg);
        transform: rotate3d(0, 0, 1, -1deg);
      }
      50% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
      }
      100% {
        -webkit-transform: rotate3d(0, 0, 1, 1deg);
        transform: rotate3d(0, 0, 1, 1deg);
      }
    }

    .active #bird-body{
        animation: bird 2s ease-in-out 1s infinite alternate;
        -webkit-animation: bird 2s ease-in-out 1s infinite alternate;
    }
    /* bird */
    @-webkit-keyframes bird {
      0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
      }
      100% {
        -webkit-transform: translate(-22px, 28px) rotate(-45deg);
        transform: translate(-22px, 28px) rotate(-45deg);
      }
    }

    @keyframes bird {
      0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
      }
      100% {
        -webkit-transform: translate(-22px, 28px) rotate(-45deg);
        transform: translate(-22px, 28px) rotate(-45deg);
      }
    }
/********************************************************** page-6 ************************************************************/
    .page-6-main{
        width: 1440px;
        bottom: 0px;
        position: absolute;
        height: 781px;
    }
    .page-6-main > .page-6-body{
        position: absolute;
        left: 50%;
        bottom: -47px;
        margin-left: -505px;
        width: 1010px;
    }
    .tower{
        background: url(../img/page-6/tower.svg) no-repeat;
        position: absolute;
        bottom: 0px;
        right: 5%;
        width: 127px;
        height: 460px;
        z-index: 2;
        background-position: 0 100%;
    }
    .ufo{
        background: url(../img/page-6/ufo.svg);
        width: 165px;
        height: 71px;
        position: absolute;
        right: 15%;
        top: 25%;
        z-index: -1;
    }
    .active #light-0{
        animation: flash 1.5s ease infinite;
        -webkit-animation: flash 1.5s ease infinite;
    }
    .active #light-1{
        animation: flash 1s ease infinite;
        -webkit-animation: flash 1s ease infinite;
    }
    .active #light-2{
        animation: flash 0.5s ease infinite;
        -webkit-animation: flash 0.5s ease infinite;
    }

    .active .star{
        animation: flash 3s ease-in-out 0s infinite alternate;
        -webkit-animation: flash 3s ease-in-out 0s infinite alternate;
    }
    .ufo-r{
        -webkit-transform:rotateY(180deg);
        transform:translate(180deg);
    }
    .active .ufo{
        animation: ufoMove 15s ease-in-out 0.4s infinite;
        -webkit-animation: ufoMove 15s ease-in-out 0.4s infinite;
    }
     /** ufoMove **/
    @-webkit-keyframes ufoMove {
        0%  {right:15%;}
        49% {background: url(../img/page-6/ufo.svg)}
        50% {right:80%; background: url(../img/page-6/ufo-r.svg)}
        99% {background: url(../img/page-6/ufo-r.svg)}
        100%{right:15%;background: url(../img/page-4/ufo.svg)}
    }
    @keyframes ufoMove {
        0%  {right:15%;}
        49% {background: url(../img/page-6/ufo.svg)}
        50% {right:80%; background: url(../img/page-6/ufo-r.svg)}
        99% {background: url(../img/page-6/ufo-r.svg)}
        100%{right:15%;background: url(../img/page-6/ufo.svg)}
    }
/********************************************************** page-7 ************************************************************/
    .page-7-main{
        position: absolute;
        bottom: -10px;
        width: 1331px;
        left: 50%;
        margin-left: -665.5px;
    }
    .active #boy-1{
         -webkit-transform: translate(330px, 590px) rotate(16deg);
        transform: translate(330px, 590px) rotate(16deg);
        animation: boy 2.5s linear 1s forwards;
        -webkit-animation: boy 2.5s linear 1s forwards;
    }
    @-webkit-keyframes boy {
      from {
        -webkit-transform: translate(330px, 550px) rotate(16deg);
        transform: translate(330px, 550px) rotate(16deg);
      }

      to {
        -webkit-transform: translate(330px, 460px) otate(16deg);
        transform: translate(330px, 460px) rotate(16deg);
      }
    }
    @keyframes boy {
       from {
        -webkit-transform: translate(330px, 550px) rotate(16deg);
        transform: translate(330px, 550px) rotate(16deg);
      }

      to {
        -webkit-transform: translate(330px, 460px) rotate(16deg);
        transform: translate(330px, 460px) rotate(16deg);
      }       
    }
    .active .womeng{
        opacity: 0;
        animation: flipInY 2s ease 1s forwards;
        -webkit-animation: flipInY 2s ease 1s forwards;
    }
    .wemo-1{
        position: absolute; z-index: 99; bottom: 10px; left: 54%;
    }
        .wemo-2{
        position: absolute; z-index: 99; bottom: 10px; left: 69%;
    }
    .active .wemo-1 #hand-1{
        transform-origin: 30% 30%;
        -webkit-transform-origin: 80% 50%;
        animation: hand1Shake 1.2s linear 0s infinite alternate;
        -webkit-animation: hand1Shake 1s linear 0s infinite alternate;
    }
    .active .wemo-1 #hand-2{
        animation: hand2Shake 1.2s linear 0s infinite alternate;
        -webkit-animation: hand2Shake 1s linear 0s infinite alternate;
    }

    .active .wemo-2 #hand-3{
        transform-origin: 30% 30%;
        -webkit-transform-origin: 80% 50%;
        animation: hand1Shake 0.8s linear 0.6s infinite alternate;
        -webkit-animation: hand1Shake 0.8s linear 0.6s infinite alternate;
    }
    .active .wemo-2 #hand-4{
        animation: hand4Shake 0.8s linear 0.6s infinite alternate;
        -webkit-animation: hand4Shake 0.8s linear 0.6s infinite alternate;
    }

    .active .wemo-block{
        animation: logoJump 4s linear 0.6s infinite alternate;
        -webkit-animation: logoJump 4s linear 0.6s infinite alternate;
    }

    @-webkit-keyframes hand1Shake {
      from {
        -webkit-transform: translate(2px, 58px);
        transform: translate(2px, 58px);
      }

      to {
        -webkit-transform: translate(15px, 58px) rotate(-45deg);
        transform: translate(15px, 58px) rotate(-45deg);
      }
    }
    @keyframes hand1Shake {
      from {
        -webkit-transform: translate(2px, 58px);
        transform: translate(2px, 58px);
      }

      to {
        -webkit-transform: translate(15px, 58px) rotate(-45deg);
        transform: translate(15px, 58px) rotate(-45deg);
      }
    }

    @-webkit-keyframes hand2Shake {
      from {
        -webkit-transform: translate(73px, 61px);
        transform: translate(73px, 61px);
      }

      to {
        -webkit-transform: translate(90px, 61px) rotate(45deg);
        transform: translate(90px, 61px) rotate(45deg);
      }
    }
    @keyframes hand2Shake {
      from {
        -webkit-transform: translate(73px, 61px);
        transform: translate(73px, 61px);
      }

      to {
        -webkit-transform: translate(90px, 61px) rotate(45deg);
        transform: translate(90px, 61px) rotate(45deg);
      }
    }

    @-webkit-keyframes hand4Shake {
      from {
        -webkit-transform: translate(67px, 55px);
        transform: translate(67px, 55px);
      }

      to {
        -webkit-transform: translate(84px, 55px) rotate(45deg);
        transform: translate(84px, 55px) rotate(45deg);
      }
    }
    @keyframes hand4Shake {
      from {
        -webkit-transform: translate(67px, 55px);
        transform: translate(67px, 55px);
      }

      to {
        -webkit-transform: translate(84px, 55px) rotate(45deg);
        transform: translate(84px, 55px) rotate(45deg);
      }
    }
/********************************************************** page-8 ************************************************************/
    /*    .page-8{
        background: url(../img/page-8/bg.png) no-repeat;
        background-position: 50% 85px;
    }*/
    .page-8 > img{
        position: absolute;
    }
    .page-8-main{
        position: absolute;
        width: 1379px;
        background: url(../img/page-8/bg.png) no-repeat;
        left: 50%;
        bottom: -53px;
        height: 780px;
        margin-left: -689.5px;
        z-index: 99;
    }
    .page-8-star{
        position: absolute;
        left: 50%;
        margin-left: -202px;
        top:12%;
    }
    .page-8-main > *{
        position: absolute;
    }
    .active #Star-1{
        transform-origin:201px 222.5px;
        animation: starMove 8s linear infinite;
        -webkit-animation: starMove 8s linear infinite;
    }
    @-webkit-keyframes starMove {
      from {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      50%{
        opacity: 0;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      to {
        opacity: 1;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes starMove {
      from {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      50%{
        opacity: 0;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      to {
        opacity: 1;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    .active .balloon-1{
        animation: leafShake 2s linear 0.5s infinite alternate;
        -webkit-animation: leafShake 2s linear 0.5s infinite alternate;
    }
    .active .balloon-2{
        animation: leafShake 2.3s linear 1.2s infinite alternate;
        -webkit-animation: leafShake 2.3slinear 1.2s infinite alternate;
    }
    .active #dragon-head{
        animation: leafShake 2s linear 0s infinite alternate;
        -webkit-animation: leafShake 2s linear 0s infinite alternate;
    }
/********************************************************** page-9 ************************************************************/
    .page-9{

    }
    .page-9-bg{
        bottom: 0px;
        left: 50%;
        margin-left: -680px;
        width: 1360px;
        height: 781px;
        position: absolute;
    }
    .page-9-bg > img,.page-9-main > img{
        position: absolute;
    }
    .active #volcano{
        animation: shake 2s linear 0s 2;
        -webkit-animation: shake 2s linear 0s 2;
    }
    .active #magma{
        transform:translate(268px, 0px);
        -webkit-transform:translate(268px, 0px);
        animation: magmaUp 2s linear 0s forwards;
        -webkit-animation: magmaUp 2s linear 0s forwards;
    }
    .active .turn-left{
        animation: rotateOutDownRight 2.3s linear 2s forwards;
        -webkit-animation: rotateOutDownRight 2.3s linear 2s forwards;
    }
    .active .turn-right{
        animation: rotateOutDownLeft 2.3s linear 2s forwards;
        -webkit-animation: rotateOutDownLeft 2.3s linear 2s forwards;
    }
    .page-9-main{
        bottom: 0px;
        left: 50%;
        margin-left: -720px;
        width: 1440px;
        height: 781px;
        position: absolute;
    }
    .active .page-9-logo{
        animation: logoJump 5s linear 0s infinite alternate;
        -webkit-animation: logoJump 5s linear 0s infinite alternate;
    }
    .active .page-9-clickblock{
        animation: logoJump 2s linear 0.6s infinite alternate;
        -webkit-animation: logoJump 2s linear 0.6s infinite alternate;
    }
    .plane{
        position: absolute;
        right:0px;
        top:15%;
    }
    .active .plane{
        animation: planeMove 10s ease 1s infinite;
        -webkit-animation: planeMove 10s ease 1s infinite;
    }
     /** ufoMove **/
    @-webkit-keyframes planeMove {
        0%  {
            right:0%;
            opacity: 1
        }
        50% {
            right:50%;
            opacity: 0.5;
            -webkit-transform: scale3d(.5, .5, .5) ;
            transform: scale3d(.5, .5, .5);
        }
        100% {
            right:100%;
            opacity: 0;
            -webkit-transform: scale3d(0, 0, 0) ;
            transform: scale3d(0, 0, 0);
        }
    }
    @keyframes planeMove {
        0%  {
            right:0%;
            opacity: 1
        }
        50% {
            right:50%;
            opacity: 0.5;
            -webkit-transform: scale3d(.5, .5, .5) ;
            transform: scale3d(.5, .5, .5);
        }
        100% {
            right:100%;
            opacity: 0;
            -webkit-transform: scale3d(0, 0, 0) ;
            transform: scale3d(0, 0, 0);
        }
    }
    @-webkit-keyframes magmaUp {
      from {
        opacity: 0;
        -webkit-transform: translate(268px, 200px) scale3d(.1, .1, .1) ;
        transform: translate(268px, 200px) scale3d(.1, .1, .1);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
      }

      100% {
        opacity: 1;
        -webkit-transform:translate(268px, -60px) scale3d(1, 1, 1);
        transform:translate(268px, -60px) scale3d(1, 1, 1);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
      }
    }

    @keyframes magmaUp {
      from {
        opacity: 0;
        -webkit-transform: translate(268px, 200px) scale3d(.1, .1, .1) ;
        transform: translate(268px, 200px) scale3d(.1, .1, .1);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
      }

      100% {
        opacity: 1;
        -webkit-transform:translate(268px, -60px) scale3d(1, 1, 1);
        transform:translate(268px, -60px) scale3d(1, 1, 1);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
      }
    }

/************************************************************** All动画 ********************************************************/

    @-webkit-keyframes leafIn {
      from {
        -webkit-transform: translate3d(0, 45%, 0);
        transform: translate3d(0, 45%, 0);
      }

      to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
      }
    }

    @keyframes leafIn {
      from {
        -webkit-transform: translate3d(0, 45%, 0);
        transform: translate3d(0, 45%, 0);
      }

      to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
      }
    }
    /* shake */
    @-webkit-keyframes leafShake {
        0% {
            -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
        }
        100% {
            -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
        }
    }
    @keyframes leafShake {
        0% {
            -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
        }
        100% {
            -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
        }
    }
    /* logoJunp */
    @-webkit-keyframes logoJump {
        0% {
            -webkit-transform:translateY(0);
            transform:translateY(0)
        }
        20% {
            -webkit-transform:translateY(-8px);
            transform:translateY(-8px)
        }
        40% {
            -webkit-transform:translateY(0px);
            transform:translateY(0px)
        }
        65% {
            -webkit-transform:translateY(-5px);
            transform:translateY(-5px)
        }
        80% {
            -webkit-transform:translateY(0px);
            transform:translateY(0px)
        }
        90% {
            -webkit-transform:translateY(-2px);
            transform:translateY(-2px)
        }
        100% {
            -webkit-transform:translateY(0);
            transform:translateY(0)
        }
    }
    @keyframes logoJump {
        0% {
            -webkit-transform:translateY(0);
            transform:translateY(0)
        }
        20% {
            -webkit-transform:translateY(-8px);
            transform:translateY(-8px)
        }
        40% {
            -webkit-transform:translateY(0px);
            transform:translateY(0px)
        }
        65% {
            -webkit-transform:translateY(-5px);
            transform:translateY(-5px)
        }
        80% {
            -webkit-transform:translateY(0px);
            transform:translateY(0px)
        }
        90% {
            -webkit-transform:translateY(-2px);
            transform:translateY(-2px)
        }
        100% {
            -webkit-transform:translateY(0);
            transform:translateY(0)
        }
    }
    /* jump */
    @-webkit-keyframes jump {
        0% {
            -webkit-transform:translate3d(0,0,0);
            transform:translate3d(0,0,0);
        }
        50% {
            -webkit-transform:translate3d(0,12px,0);
            transform:translate3d(0,12px,0);
        }
        100% {
            -webkit-transform:translate3d(0,0,0);
            transform:translate3d(0,0,0);
        }
    }
    @keyframes jump {
        0% {
            -webkit-transform:translate3d(0,0,0);
            transform:translate3d(0,0,0);
        }
        50% {
            -webkit-transform:translate3d(0,12px,0);
            transform:translate3d(0,12px,0);
        }
        100% {
            -webkit-transform:translate3d(0,0,0);
            transform:translate3d(0,0,0);
        }
    }
    /* glass */
    @keyframes glassRoll{
        from {transform:rotate(-4deg);}
        to {transform:rotate(4deg);}
    }
    @-webkit-keyframes glassRoll{
        from {transform:rotate(-4deg);}
        to {transform:rotate(4deg);}
    }
    /* cloud1 */
    @keyframes cloud1Move{
        from {left: 20%;}
        to {left: 24%;}
    }
    @-webkit-keyframes cloud1Move{
        from {left: 20%;}
        to {left: 24%;}
    }
    /* cloud2 */
    @keyframes cloud2Move{
        from {right: 6%;}
        to {right: 14%;}
    }
    @-webkit-keyframes cloud2Move{
        from {right: 6%;}
        to {right: 14%;}
    }
    /* cloud3 */
    @keyframes cloud3Move{
        from {right: 40%;}
        to {right: 25%;}
    }
    @-webkit-keyframes cloud3Move{
        from {right: 40%;}
        to {right: 25%;}
    }

/* 手提电脑调整 */
@media (min-width: 769px) and (max-width: 1200px) {
    .intro-body{
        font-size: 12px;
    }
    .cloud-1,.cloud-2,.cloud-3,.glass{
        transform:scale(0.6,0.6);
        -webkit-transform:scale(0.6,0.6);
    }
    #car{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    .car{
        bottom: 52px;
    }
    .ground{
        height: 60px;
    }
    .ask-pagination{
        font-size: 12px;
        bottom: 0px;
        margin-left: -287px;
    }
    .intro-modal{
        width: 35%;
    }
    .ask-pagination > .swiper-pagination-bullet{
        width: 58px
    }
    /* page-1 */
    #page-1-title{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    /* page-2 */
    .page-2-group{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        bottom: -70px;
    }
    .page-2-support{
        top:5%;
    }
    .page-2-build{
        top:3%;
    }
    /* page-3 */
    .big-tree{
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        bottom: -125px !important;
    }
    .askidea-logo{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    /* page-6 */
    .page-6-main{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        bottom: -78px;
    }
    /* page-5 */
    .page-5-main{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    /* page-9 */
    .page-9-bg,.page-9-main{
        bottom: -79px;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    /* page-7 */
    .page-7-main{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        bottom: -75px
    }
    /* page-8 */
    .page-8-main{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        bottom: -118px;
    }
    .page-8 .ground{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        bottom: -17px !important;
    }
}
@media screen and (max-height: 768px) {
    .intro-body{
        font-size: 12px;
    }
    .cloud-1,.cloud-2,.cloud-3,.glass{
        transform:scale(0.6,0.6);
        -webkit-transform:scale(0.6,0.6);
    }
    #car{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    .car{
        bottom: 52px;
    }
    .ground{
        height: 60px;
    }
    .ask-pagination{
        font-size: 12px;
        bottom: 0px;
        margin-left: -287px;
    }
    .intro-modal{
        width: 35%;
    }
    .ask-pagination > .swiper-pagination-bullet{
        width: 58px
    }
    /* page-1 */
    #page-1-title{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    /* page-2 */
    .page-2-group{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        bottom: -70px;
    }
    .page-2-support{
        top:5%;
    }
    .page-2-build{
        top:3%;
    }
    /* page-3 */
    .big-tree{
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        bottom: -125px !important;
    }
    .askidea-logo{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    /* page-6 */
    .page-6-main{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        bottom: -78px;
    }
    /* page-5 */
    .page-5-main{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    /* page-9 */
    .page-9-bg,.page-9-main{
        bottom: -79px;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    /* page-7 */
    .page-7-main{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        bottom: -75px
    }
    /* page-8 */
    .page-8-main{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        bottom: -118px;
    }
    .page-8 .ground{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        bottom: -17px !important;
    }
}

@media screen and (max-width: 768px) {
    .music{
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        left: 0px;
        bottom: 0px;
    }
    .cloud-1,.cloud-2,.cloud-3,.glass{
        transform:scale(0.6,0.6);
        -webkit-transform:scale(0.6,0.6);
    }
    .ask-pagination{
        display: none;
    }
    #wrap{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
    .loading p{
        font-size: 16px;
        margin-bottom: -53px;
        margin-left: -16px;
    }
    .intro-body{
        font-size: 10px !important;
        padding: 12px;
    }
    .close-btn{
        margin: 5px;
    }
    .intro-logo{
        margin-top: 50px;
    }
    #car{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
    .car{
        bottom: 32px;
    }
    .ground{
        height: 60px;
    }
    .intro-modal{
        width: 100%;
    }
    .ask-pagination{
        bottom: 0px;
        margin-left: -247px;
    }
    .ask-pagination > .swiper-pagination-bullet{
        width: 48px
    }
    .askidea-logo,.yihua-logo{
        top: 2%;
        left: 0%;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
    /* page-1 */
    #page-1-title{
        position: absolute;
        width: auto;
        margin: 0px;
        top: 0;
        left: 0;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
    /* page-2 */
    .page-2-group{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        bottom: -170px;
    }
    .page-2-support{
        top:5%;
    }
    .page-2-build{
        top:3%;
    }
    /* page-3 */
    .big-tree{
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        bottom: -254px !important;
    }
    /* page-4 */
    .page-4-main{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        height: auto;
    }
    .airship{
        top: -550px;
    }
    /* page-5 */
    .page-5-main{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
    /* page-6 */
    .page-6-main{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        bottom: -195px;
    }
    /* page-7 */
    .page-7-main{
        bottom: -196px !important;
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
    }
    /* page-8 */
    .page-8-main{
        bottom: -220px;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
    .page-8 .ground{
        transform: scale(2);
        -webkit-transform: scale(2);
        bottom: -40px !important;
    }
    .page-8-star{
        top: 0;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
    /* page-9 */
    .page-9-bg,.page-9-main{
        bottom: -195px;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
}
